<aside>
  <div>
    <img src="./assets/images/logo-adalab.png" alt="Autora" title="Autora" />
    <h3>Autora</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
      necessitatibus, voluptatibus, pariatur exercitationem minus suscipit
      facere hic illum enim consectetur asperiores. Neque saepe cupiditate
      necessitatibus fugit, architecto deserunt molestias dolorum?
    </p>
  </div>
  <div>
    <nav>
      <ul>
        <li>
          <a href="#">Seccion 1</a>
        </li>
        <li>
          <a href="#">Seccion 2</a>
        </li>
        <li>
          <a href="#">Seccion 3</a>
        </li>
        <li>
          <a href="#">Seccion 4</a>
        </li>
        <li>
          <a href="#">Seccion 5</a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li>
          <a href="#">Categoria 1</a>
        </li>
        <li>
          <a href="#">Categoria 2</a>
        </li>
        <li>
          <a href="#">Categoria 3</a>
        </li>
        <li>
          <a href="#">Categoria 4</a>
        </li>
        <li>
          <a href="#">Categoria 5</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
