.hero {
  background-color: $color-blue;
  color: $color-white;
  font-family: $font-main;
  padding: 60px 30px 30px 30px;
}

.hero__title {
  max-width: 600px;
  font-size: 3rem;
  line-height: 55px;
}

.hero__subtitle {
  margin-top: 20px;
  font-size: 1.5rem;
}

.hero__button {
  display: inline-block;
  margin-top: 30px;
  padding: 5px 25px;
  border-radius: 50px;
  background-color: #4bb84a;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.hero__policy {
  display: block;
  margin-top: 30px;
  font-size: 10px;
}
