.benefits-title {
  margin: 20px 0 20px 0;
  text-align: center;
  font-size: 25px;
  font-family: $font-main;
}

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-main;
  margin-top: 0;
  margin-bottom: 100px;
}
