<section class="hero">
  <img
    class="hero__dancer"
    src="./assets/images/premium-dancer.png"
    alt="Chica bailando"
    title="Chica bailando de Spotify"
  />
  <h1 class="hero__title">Prueba Premium gratis 3 meses</h1>
  <h2 class="hero__subtitle">
    Escucha millones de canciones sin anuncios, a la carta y sin conexión.
  </h2>
  <button>
    <a class="hero__button" href="#" title="Ir a ver los planes de Spotify"
      >Ver planes
    </a>
  </button>
  <small class="hero__policy">
    Rigen términos y condiciones. Los tres mese gratis no están disponibles para
    usuarios que ya hayan probado Premium.
  </small>
</section>
