* {
  margin: 0px;
}

.page {
  height: 100vh;
  background-color: silver;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: repeat(12, 1fr);
}

.header {
  grid-column: span 12;
  background-color: pink;
}

.menu {
  grid-column: span 4;
  background-color: purple;
}

.content {
  grid-column: span 8;
  background-color: red;
}

.footer {
  grid-column: span 12;
  background-color: blue;
}
