@import "core/reset";
@import "layout/header";
@import "layout/main";

.posts {
  background-color: pink;
}

.aside {
  background-color: orange;
}

.author,
.links {
  width: 50px;
}

.footer {
  background-color: blue;
}

@media all and (min-width: 768px) {
  body {
    border-left: #999;
  }
  .posts {
    width: 80%;
  }

  .aside {
    flex-direction: column;
    width: 20%;
    margin-top: -100px;
  }

  .author,
  .links {
    width: auto;
  }

  .author-image {
    width: 90%;
  }
}
