.benefit {
  display: flex;
  align-items: left;
  padding: 10px;
}

.benefit-img {
  width: 100px;
  height: 100px;
  margin: 15px;
  width: 100px;
  align-content: center;
}

.benefit-title {
  padding-bottom: 10px;
  font-size: 1rem;
  line-height: 25px;
  text-align: left;
  margin-top: 10px;
}

.benefit-description {
  font-size: 15px;
}
