.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: black;
  font-size: 10px;
  color: #999;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 80px;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 10px;

  &__items {
    text-align: center;
    list-style-type: none;
    padding: 15px;
  }

  &__items:hover {
    background-color: $color-green;
  }

  &__links {
    text-decoration: none;
    color: $color-white;
    padding: 15px;
  }
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px;

  &__spain {
    padding: 10px;
    margin-left: 0px;
    position: relative;
    left: 10px;

    &--flags {
      height: 12px;
      width: 19px;
    }
  }
}
