.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
  background-color: $color-black;
  font-size: 10px;
  color: $color-secondary;
  width: 100%;
}

.footer-menu {
  display: flex;
  flex-direction: rpw;
  flex-wrap: wrap;
  position: relative;
  bottom: 2px;

  &__items {
    text-align: center;
    display: inline-block;
    text-align: center;
    list-style-type: none;
  }

  &__items:hover {
    background-color: $color-green;
  }

  &__links {
    text-decoration: none;
    color: $color-secondary;
    margin-left: 0px;
    display: inline-block;
    padding: 7px;
  }
}

.copy {
  display: flex;
  flex-direction: column;
  text-align: flex-start;

  &__spain {
    padding: 5px;
    margin-left: 0px;
    position: relative;
    left: 10px;

    &--flags {
      margin-left: 5px;
      height: 15px;
      vertical-align: text-bottom;
    }
  }
  &__year {
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: flex-end;
  }
}
