.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 15px 20px;

  &__logo {
    height: 30px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;

  &__link {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: $color-white;
    font-family: "Circular";
  }

  &__link:hover {
    color: $color-white;
    background-color: $color-green;
  }

  &__item--signup::before {
    padding-left: 4px;
    content: "|";
    color: $color-white;
  }
}
